{% extends 'layouts/test.nunjucks' %}

{% block title %}Nunjucks title{% endblock %}
{% block meta %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="restapp/config/environment" content="%7B%22modulePrefix%22%3A%22restapp%22%2C%22environment%22%3A%22development%22%2C%22rootURL%22%3A%22/panel/%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%7D%7D%2C%22APP%22%3A%7B%22name%22%3A%22restapp%22%2C%22version%22%3A%220.0.0+4afe5da8%22%7D%2C%22exportApplicationGlobal%22%3Atrue%7D" />
{% endblock %}
{% block css %}
	<link rel="/restapp/assets/vendor.css">
	<link rel="/restapp/assets/restapp.css">
	{{"restapp.css" | bundle | safe}}
{% endblock %}
{%block body%}
	{%link 'home'%}{{'LOC01'|t}}{%endlink%}
	{%link 'helpers'%}{{'LOC01'|t}}{%endlink%}
	{%link 'helpers.njk'%}{{'LOC01'|t}}{%endlink%}
	{%link 'helpers.handlebars'%}{{'LOC01'|t}}{%endlink%}
	{{'LOC01'|t('es')}}
{% endblock %}

{% block js %}
	<script src="/restapp/assets/vendor.js"></script>
	<script src="/restapp/assets/restapp.js"></script>
	{{"restapp.js" | bundle | safe}}
{% endblock %}
